.select-min-width {
  min-width: 180px;
}

.input-min-width {
  width: 200px;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.h-100vh {
  height: 100vh;
}

.flex-1 {
  flex: 1;
}
